---
import { XataClient } from '../xata'
import Create from '../components/Create.astro'
import type { Todo } from '../types'
import { GET } from './api/todos'
const xata = new XataClient({
 apiKey: import.meta.env.XATA_API_KEY,
 branch: import.meta.env.XATA_BRANCH,
})
if (Astro.request.method === 'POST') {
 const formData = await Astro.request.formData()
 const text = formData.get('text').toString()
 const newTodo = await xata.db.todos.create({
  text: text,
  completed: false,
 })
}
let response = await GET(Astro)
const todos = await response.json()
---

<div
 id='new'
 class='w-72 m-auto text-xl'>
 <h2 class='text-3xl m-auto mt-8 mb-4 w-min border-b-2 px-2'>Things:</h2>
 <div class='flex flex-col gap-2'>
  <Create />
  <div class='flex flex-col gap-2'>
   {
    todos.map((todo: Todo) => (
     <div class='flex border border-border p-2 rounded-xl'>
      <input
       hx-delete='/api/todos'
       hx-target='closest div'
       hx-swap='outerHTML'
       class='ml-2 mr-4'
       type='checkbox'
       checked={todo.completed}
       id={todo.id}
      />
      <div>
       <p class='text-lg'>{todo.text}</p>
      </div>
     </div>
    ))
   }
  </div>
 </div>
</div>
