---

---

<div class='text-base'>
 <form
  hx-post='/create'
  action='submit'
  class='flex flex-col gap-1'>
  <label for='title'>New thing:</label>
  <div class='flex w-full'>
   <input
    class='w-full py-2 bg-gray-800 rounded-ss-xl rounded-es-xl'
    name='title'
    id='"title'
    type='text'
   />
   <button class='px-4 bg-gray-900 rounded-se-xl rounded-ee-xl'>Add</button>
  </div>
 </form>
</div>
