---
---

<div class='flex justify-between items-center px-2'>
    <h1 class='text-4xl'>DO IT</h1>
    <div class='flex gap-8'>
        <a href="#">Home</a>
        <a href="#">About</a>
    </div>
</div> 